@import "@/styles/var.module.scss";

.Container {
  display: flex;
  width: 100%;
  gap: 30px;
}

.Input,
.Output {
  flex-grow: 1;
  flex-basis: 200px;
  gap: 14px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 23px);
}

.OutputCode {
  margin: 0 !important;
  height: calc(100vh - $headerHeight - $headerMarginBottom - 150px);
  border: 1px solid rgb(217, 217, 217);
  border-radius: 6px;
}

.Head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 32px;
  color: $textColor;
}

.ButtonGroup {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.InputCode {
  flex-grow: 1;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  padding: 16px;
  font-size: 16px;
}
