@import "./var.module.scss";

.ColoredText {
  color: $textColor;

  svg {
    color: $textColor;
  }
}

.Header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.Menu {
  min-width: 400px;
  justify-content: flex-end;
  border-bottom: 0;
}

.Footer {
  text-align: center;
  color: $textColor;

  a {
    color: #c8c9cc;
  }
}

.Briar {
  width: 128px;
  height: 64px;
  object-fit: cover;
  margin: 0 12px;
}

.Sider {
  height: calc(100vh - $headerMarginBottom - $headerHeight);
  margin-top: $headerMarginBottom;
  border-radius: 8px;
  background: transparent !important;
  padding-bottom: 0;

  :global(.ant-layout-sider-children) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  :global(.ant-layout-sider-trigger) {
    background-color: $collapseBgColor;
  }

  :global(.ant-menu-root) {
    overflow: auto;
  }
}

.SiderMenu {
  // height: 100%;
  flex: 1;
  border-right: 0;
}

.ContentLayout {
  max-height: calc(100vh - $headerHeight - $headerMarginBottom);
  overflow: auto;
  padding: 0 24px;
  margin-top: $headerMarginBottom;
  flex-grow: 1;
}

.FullScreenContentLayout {
  margin-top: 0;
  padding: 0;
  max-height: none;
  :global(.ant-layout-content) {
    border-radius: 0 !important;
  }
}

.SuspenseSpin {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  position: absolute;
  right: 0;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 53%, 0.4);
}

*:hover::-webkit-scrollbar-track {
  background: transparent;
}

:global {
  .ant-select-focused .ant-select-selector {
    box-shadow: 0 0 0 2px rgba($color: $selectedColor, $alpha: 0.1) !important;
  }
}

// * {
//   cursor: inherit;
// }

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f5f5f5;
  width: 100%;
  min-width: 1240px;
  // cursor: url(https://briar-shanghai-1309736035.cos.ap-shanghai.myqcloud.com/Watanabe%20Yuuya%20normal_page_01.png),
  //   default;
}

// button,
// button.ant-btn,
// [role="menuitem"] {
//   cursor: url(https://briar-shanghai-1309736035.cos.ap-shanghai.myqcloud.com/Watanabe%20Yuuya%20link_page_01.png),
//     pointer !important;
// }

// textarea,
// input,
// code {
//   cursor: url(https://briar-shanghai-1309736035.cos.ap-shanghai.myqcloud.com/Watanabe%20Yuuya%20text_page_01.png),
//     text !important;
// }

// .loadingCursor {
//   cursor: url(https://briar-shanghai-1309736035.cos.ap-shanghai.myqcloud.com/Watanabe%20Yuuya%20work_page_04.png),
//     progress !important;
// }

// .Hide {
//   display: none !important
//   ;
// }
