$selectedColor: #db6d8d;
$textColor: #100d14;
$selectedBgColor: #f1e5ee;
$activeBgColor: #eddde8;
$collapseBgColor: #d1a9c6;

$headerHeight: 64px;
$headerMarginBottom: 24px;
$siderWidth: 240px;
$collapsedSiderHeight: 48px;
