.Intro {
	width: 680px;
	margin-bottom: 48px;

	.ButtonContainer {
		display: flex;
		gap: 32px;
		margin: 32px 0;
	}

	.ImgContainer {
		img {
			width: 680px;
		}
	}

	h3 {
		margin-top: 42px;
	}
}
