// @import "~antd/es/style/themes/default.less";
.Conversation {
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 16px;
}

:global(.ant-layout-sider-collapsed) {
  .EditConversation {
    display: none;
  }
}

.DropdownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92px;
}
