$selectedColor: #7797c1;
$textColor: #0d1115;
$selectedBgColor: #f3f6fb;
$activeBgColor: #f3f6fb;
$collapseBgColor: #9db9de;

$headerHeight: 64px;
$headerMarginBottom: 24px;
$siderWidth: 240px;
$collapsedSiderHeight: 48px;
