$selectedColor: #7797c1;
$textColor: #0d1115;
$selectedBgColor: #e6eef7;
$activeBgColor: #e6eef7;
$collapseBgColor: #9db9de;

$headerHeight: 64px;
$headerMarginBottom: 24px;
$siderWidth: 240px;
$collapsedSiderHeight: 48px;
