.Conversation {
	justify-content: space-between;
	display: flex;
	align-items: center;
	gap: 16px;
}

.DropdownItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 92px;
}

.ConversationTitle {
	overflow: hidden;
	white-space: nowrap;
}

.ConversationContent {
	max-width: 146px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	gap: 8px;
}

:global(.ant-layout-sider-collapsed) {
	.EditConversation {
		display: none;
	}

	.ConversationTitle {
		overflow: visible;
	}
}
